@import url('https://fonts.googleapis.com/css2?family=Koulen&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Nunito", sans-serif;
}

body{
    background-image: linear-gradient(to top, #c1dfc4 0%, #deecdd 100%);
}

.container{
    max-width: 80vw;
}

.navBar{
    display: flex;
    height: 67px;
}

.navBar li{
    list-style: none;
    margin: 0 12px;
}

.topleft{
    width: 50%;
}

.topright{
    width: 50%;
    
}

.topright .bg{
    width: 72%;
    margin-left: 417px;
}

.logo{
    font-size: 1.5rem;  
}

.sec1{
    max-height: 100vh; 
}

.sec1 h1{
    font-size: 2rem;
}

span{
    color: #2d750b;
}

.logoGrocery{
    width: 250px;
}

.sec2{
    padding: 63px;
}

.sec2 h1{
    font-size: 3rem;
}

.btn1{
    padding: 15px 38px;
    border: 2px solid rgb(239, 229, 229);
    border-radius: 16px;
    cursor: pointer;
    color: white;
    background: #2d750b;
    margin: 10px 48px;
    font-size: 17px;
}

.sec2 p{
    padding: 0 8vw;
    text-align: center;
    font-size: 17px;
    font-weight: 700;
}

.box{
    padding: 8px 0; 
    margin: 12px 22px;
    min-width: 20vw;
    border: 2px solid #4fd511;
    border-radius: 30px;
    text-align: center;
}

.box h2{
    font-size: 1.6rem; 
    padding: 12px 0;
}

.box ul{
    list-style: none;
}

.box ul li{
    margin: 12px 2px;
}

.bold{
    font-size: 1.5rem;
    font-weight: bolder;
}

footer{
    padding: 23px;
    text-align: center;
    font-weight: bold;
}


@import url('https://fonts.googleapis.com/css2?family=Koulen&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Nunito", sans-serif;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to top, #c1dfc4 0%, #deecdd 100%);
}

.container {
    max-width: 80vw;
    margin: 0 auto;
}

.navBar {
    display: flex;
    height: 67px;
}

.navBar li {
    list-style: none;
    margin: 0 12px;
}

.topleft {
    width: 50%;
}

.topright {
    width: 50%;
}

.topright .bg {
    width: 72%;
    margin-left: 417px;
}

.logo {
    font-size: 2rem;
}

.sec1 {
    max-height: 100vh;
}

.sec1 h1 {
    font-size: 2rem;
}

span {
    color: #2d750b;
}

.logoGrocery {
    width: 250px;
}

.sec2 {
    padding: 63px;
}

.sec2 h1 {
    font-size: 3rem;
}

.btn1 {
    padding: 15px 38px;
    border: 2px solid rgb(239, 229, 229);
    border-radius: 16px;
    cursor: pointer;
    color: white;
    background: #2d750b;
    margin: 20px 48px;
    font-size: 17px;
}

.sec2 p {
    padding: 0 8vw;
    text-align: center;
    font-size: 17px;
    font-weight: 700;
}

.box {
    padding: 8px 0;
    margin: 12px 22px;
    min-width: 20vw;
    border: 2px solid #4fd511;
    border-radius: 30px;
    text-align: center;
}

.box h2 {
    font-size: 1.6rem;
    padding: 12px 0;
}

.box ul {
    list-style: none;
}

.box ul li {
    margin: 12px 2px;
}

.bold {
    font-size: 1.5rem;
    font-weight: bolder;
}

footer {
    padding: 23px;
    text-align: center;
    font-weight: bold;
}

.btn {
    padding: 4px 12px;
    border: 1px solid rgb(239, 229, 229);
    border-radius: 14px;
    font-weight: bold;
    cursor: pointer;
    color: rgb(10, 1, 1);
    background: #2d750b;
    background-image: linear-gradient(to right, #56ab2f 0%, #a8e063 51%, #56ab2f 100%);
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    box-shadow: 0 0 20px #eee;
}

.btn:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
}

.text-center {
    text-align: center;
}